body,
html {
	margin: 0;
	padding: 0;
}

p {
	margin: 0 !important;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.mt-4 {
	margin-top: 4rem !important;
}

.mt-5 {
	margin-top: 5rem !important;
}

@keyframes slide-up {
	0% {
		opacity: 0;
		transform: translateY(50%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes slide-down {
	0% {
		opacity: 0;
		transform: translateY(-100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
