.Login__Form > a,
.Register__Form > a {
	cursor: pointer;
	display: flex;
	justify-content: flex-end;
	padding-right: 40px;
}

.Login__Form,
.Register__Form {
	width: 100%;
}

.Login__Form > *,
.Register__Form > * {
	margin: 0 auto !important;
	max-width: 280px !important;
}

.Login__Form button,
.Register__Form button {
	margin-top: 30px !important;
}

.Account__profile {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Account__profile > * {
	max-width: 500px;
	margin-top: 30px !important;
}
