.ItemCard {
	max-width: 315px;
	font-family: Montserrat, Helvetica, Arial, sans-serif;
	font-weight: 100;
}
.ItemCard__img {
	position: relative;
	height: auto;
}
.ItemCard__img > p {
	position: absolute;
	top: 5px;
	left: 5px;
	height: 27px;
	width: 50px;
	line-height: 27px;
	display: inline-block;
	text-align: center;
	color: #fff;
	background-color: #ff914a;
}

.ItemCard__img img {
	width: 100%;
	height: auto;
	background-color: red;
}
.ItemCard__img .ItemCard__actions {
	cursor: pointer;
	position: absolute;
	bottom: 10px;
	z-index: 3;
	overflow: hidden;
	vertical-align: middle !important;
	left: 23%;
	display: flex;
	align-items: center;
}
.ItemCard__img .ItemCard__actions * {
	height: 34px;
	line-height: 34px;
	padding: 0px 5px;
	background: #fff;
	color: #ff914a;
	border: 0px;
	outline: 0px;
	float: left;
	transition: all 0.5s ease-in-out;
}
.ItemCard__img .ItemCard__actions div.buy-button {
	font-size: 15px;
	font-weight: 500;
	transform: translateY(150px);
}
.ItemCard__img .ItemCard__actions svg:first-child {
	width: 24px;
	transform: translateX(-150px);
}
.ItemCard__img .ItemCard__actions svg:last-child {
	width: 24px;
	transform: translateX(150px);
}
.ItemCard__img:hover .ItemCard__actions * {
	transform: translate(0px) !important;
}
.ItemCard__info {
	font-family: Montserrat, Helvetica, Arial, sans-serif;
	font-weight: 100;
}
