.ItemCard {
	max-width: 350px;
	display: block;
	background-color: lightcyan;
}
.ItemCard__img {
	position: relative;
}
.ItemCard__img > p {
	position: absolute;
	top: 5px;
	left: 5px;
	height: 27px;
	width: 50px;
	line-height: 27px;
	display: inline-block;
	text-align: center;
	color: #fff;
	background-color: #ff914a;
}

.ItemCard__img img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	background-color: red;
}
.ItemCard__info {
}
