.modifier {
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #dedede;
    margin-right: 10px;
    
}

.modifier-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}

.button {
    box-shadow: none;
    height: 40px;
    background: white;
    border: none;
    width: 30px;
}

.quantity-display {

}

.quantity-input {
    width: 40px;
    height: 40px;
    padding-left: 10px;
    border:none;
    border-left:1px solid  #dedede;
    border-right:1px solid  #dedede;

    outline: none;
    box-shadow: none;
}

.quantity-input 
.button {

}
